@model List<Category>

<div class="card mt-4">
    <h1 class="card-header bg-light text-center">
        Category List
    </h1>
    <div class="card-body">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Category
                </a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Category name</th>
                    <th scope="col">Display Order</th>
                    <th scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model){
                    <tr class="table-light" id="row-@obj.Id">
                        <td>@obj.Name</td>
                        <td>@obj.DisplayOrder</td>
                        <td>
                            <div>
                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-info">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a onClick="Delete('/Admin/Category/Delete/@obj.Id')" class="btn btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/category.js"></script>
}